.theme {
    background-color: #ff9900;
}

.text-center {
    text-align: justify;
}

.main-title {
    font-size: 70px;
}

.text-theme {
    font-family: "Cairo", "Arial";
}

a {
    font-family: "Cairo", "Arial";
    font-weight: lighter;
    padding-bottom: 0px;
    padding-top: 0px;
}

.main-text {
    font-size: 1.5em;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-link {
    color: #000;
}

.darkerBG {
    background-color: #808080;
}

.lighter-button {
    background-color: #b3b3b3;
}

#myMenu li {
    display: inline-block;
    text-align: center;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#myMenu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#myMenu li a {
    text-decoration: none;
    color: #000;
}

#myMenu li.active a:hover {
    color: #000;
}

#myMenu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#myMenu li a, #myMenu li.active a {
    padding: 9px 18px;
    display: block;
}

#myMenu li.active a {
    color: #fff;
}

#myMenu {
    position: fixed;
    bottom: 3%;
    height: 40px;
    z-index: 50;
    width: 100%;
}

.mdl-card__media img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.mdl-card__media a {
  width: 100%;
  height: auto;
}

.img-link {
  width: 95%;
}

.container {
    display: flex;
    justify-content: center;
}

.to-fit {
    height: 200px;
}

.top-fit {
    height: 80px;
}

.social {
    display: flex;
    justify-content: flex-end;;
}

.mdl-card__supporting-text {
  padding-top: 0px;
}

.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s 20;
    -moz-animation: blink 0.7s 20;
    animation: blink 0.7s 20;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}

.profile-pic {
  max-width: 160px;
  height: auto;
  border-radius: 50%;
}
.typed-text {
  max-height: 200px;
  background-color: black;
  color: #ff9900;

}
